# local folders to ignore
env/
data/
results/

# SLURM output files
out/
err/

# Python cache files
__pycache__/
*.pyc
*.egg-info/
.ipynb_checkpoints/
*.pyo

# IDE/editor folders
.vscode/


docs/PROJECT_PLAN.md
